.footer {
    background: #e47f5b ;
    color: white;
    text-align: left;
    padding: 3rem 3rem;

    & .content {
        margin: auto;
    }

    & .footer-header {
        display: flex;
        align-items:center;
        flex-flow: row wrap;
        margin: 2rem 0;
        gap: 1rem;
        justify-content: space-between;
    }
}

.img_footer {
    width: 280px;
}

.icons_footer {
    float: left;

}

b {
    font-family: var(--ff-text)
}

p {
    font-family: var(--ff-text)
}

.text_footer {
    padding-left: 26px;
    margin-top: 4px;
    font-family: var(--ff-text)
}

.img_pag {
    row-gap: 16px;
    padding-left: 8px;
}

.pagamento {
    float: right;
}