@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "header.css";
@import "main.css";
@import "footer.css";

:root {
    --ff-title: "Montserrat Alternates", Arial;
    --ff-text: "Raleway", Verdana;
    --ff-link: "Jost", 'Times New Roman', Times, serif;
    --cor-primaria: #ff6600;
    --cor-primaria-2: #EB5B00;
    --cor-secondaria: #808080;
    --cor-secondaria-2: #4d4d4d;
    --cor-fundo: #F6F0F0;
    --container: #FFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background: var(--cor-fundo);
}


::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: var(--cor-primaria);
}

.orcamento {
    background-color: #178aa0;
    color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.orcamento:hover {
    transform: scale(1.1);
    background-color: #0f6674;
}


.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding: 1em;
    margin: auto;
}

.sobrenos {
    display: flex;
    align-items: center;
    background: #fff;
    margin-bottom: 60px;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.image-sobrenos {
    position: relative;
    width: 50%;
    padding-bottom: 40px;
}

.image-sobrenos img {
    width: 50%;
    
    border-radius: 10px;
}

.image-sobrenos .img2 {
    width: 50%;
    right: 90px;
    float: right;
    padding-top: 66px;
    position: absolute;
    z-index: 1;
    border-radius: 10px;
}

.text-sobrenos {
    width: 50%;
    padding-left: 40px;
}

.text-sobrenos h3 {
    color: #6c757d;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.text-sobrenos h1 {
    font-size: 32px;
    margin: 10px 0;
    color: #212529;
}

.text-sobrenos p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #000;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #000;
    color: #fff;
}

/* Carousel Wrapper */
.carousel-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 800px;
    max-width: 1190px;
    margin: 0 auto;
}

/* Carousel Items */
.carousel-items {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Individual Item */
.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
}

.carousel-item img { max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.carousel-item h3 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.carousel-item p {
    font-size: 1rem;
    color: #555;
}

/* Navigation Buttons */
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-btn i {
    font-size: 1.5rem;
}
.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--cor-primaria); /* Cor laranja */
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 50%; /* Botões arredondados */
    cursor: pointer;
    z-index: 10;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: var(--cor-primaria-2); /* Laranja mais escuro ao passar o mouse */
    transform: scale(1.1); /* Efeito de zoom ao passar o mouse */
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

.carousel-btn i {
    font-size: 1.5rem;
}

.titulo-carrosel{
    font-size: clamp(28px, 8vw, 32px);
    text-align: center;
    margin-bottom: 8px;
    font-family: var(--ff-title);
    color: var(--cor-primaria);
}
.titulo {
    font-size: clamp(28px, 8vw, 32px);
    font-family: var(--ff-title);
    color: var(--cor-primaria);
}

.link {
    font-size: clamp(15px, 5vw, 18px);
    font-family: var(--ff-link);
    text-decoration: none;
}


.text {
    font-size: clamp(14px, 4vw, 16px);
    font-family: var(--ff-text);
}

.btn-primary {
    background: var(--cor-primaria);
    transition: all .3s ease-in-out;
    border: none;
    outline: none;
    padding: .8rem 1.4rem;
    color: var(--container);
    font-size: clamp(15px, 5vw, 18px);
    font-family: var(--ff-link);
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background: var(--cor-primaria-2);
    }
}


.btn-icon {
    background: transparent;
    transition: all .3s ease-in-out;
    border: none;
    outline: none;
    color: var(--cor-primaria);
    font-size: 22px;
    text-decoration: none;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    position: relative;
    padding-bottom: 5px;
    margin: 0.8rem;

    & i {
        margin: auto;
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: var(--cor-primaria);
        transition: width 0.3s ease-in-out;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}