.carousel-container {
    height: 400px;
    margin: 0rem auto;
    margin-top: 12rem;
    z-index: 100;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 8px #0000005d;
}


.carousel-container .arrow-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    z-index: 1000;

    & .arrow {
        cursor: pointer;
        font-size: 35px;
        color: #fff;
    }
}

.carousel-images {
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-images .carousel-img {
    flex-shrink: 0;
    width: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.botao-central {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 1rem 2rem;
    background-color: var(--cor-secondaria);
    border-radius: 20px;
    transition: all 0.1s ease;
    color: var(--container);
    text-align: center;
}

.botao-central:hover {
    bottom: -10px;
    background-color: var(--cor-secondaria-2);
}


.sobre-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-flow: row wrap;
    margin: 5rem auto;
    background: var(--container);
    border-radius: 20px;
}

.sobre-container .capa {
    width: 100%;
    max-width: 420px;
    border-radius: 20px 20px 50% 50%;
}

.sobre-content {
    max-width: 500px;
    padding: 1em;
    text-align: center;

    & .titulo {
        margin-bottom: 1rem;
    }
}



.servicos {
    margin: 8rem auto;
    gap: 2rem;
    overflow: hidden;
    border-radius: 20px;

}

.servicos section{
    width: 100%;
}
.square {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 250px;
    background-color: #df7943;
    border-radius: 20px;
    &.ml-auto{
        margin-left: auto;
    }
    &.me-auto{
        margin-right: auto;
    }
}

@media (min-width:992px) {
    .servicos {
        justify-content: space-between;
    }

    .sobre-container .capa {
        border-radius: 20px 50% 50% 20px;
    }

    .sobre-content {
        text-align: start;

    }
}