.banner-inicial {
    position: relative;
    margin: 3rem 0;
    margin-top: 111px;
    background-image: url("../imgs/banners/banner-3.png");
    padding: 12rem 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    & .container {
        margin: auto;
    }

    & .cta-container {
        background: var(--container);
        width: fit-content;
        padding: 3rem;
        border-radius: 20px;
        max-width: 496px;

        & .titulo,
        & .text {
            margin-bottom: 1rem;
        }
    }
}

.topicos {
    padding: 4rem 0;
    
    & .topicos-content {
        margin: 6rem 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 1rem;

        & .item {
            background: var(--container);
            padding: 1rem;
            border-radius: 20px;
            width: 100%;
            max-width: 380px;
            display: flex;
            align-items: center;
            gap: 1rem;
            & h3{
                font-family: var(--ff-title);
                color: var(--cor-primaria);
            }
            & .icon{
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                min-width: 65px;
                min-height: 65px;
                width: 65px;
                height: 65px;
                font-size: 35px;
                color: var(--container);
                background:linear-gradient(to bottom, var(--cor-primaria), #c54c01);
            }
        }
    }
}



.carousel-container {
    height: 450px;
    margin: 6rem auto;
    z-index: 100;
}

.carousel {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 8px #0000005d;
}


.carousel-container .arrow-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    translate: 0 -50%;
    z-index: 1000;

    & .arrow {
        cursor: pointer;
        font-size: 35px;
        color: #fff;
    }
}

.carousel-images {
    display: flex;
    height: 100%;
    transition: transform 1s ease-in-out;
}

.carousel-images .carousel-img {
    flex-shrink: 0;
    width: 100%;

    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.botao-central {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    padding: 1rem 2rem;
    background-color: #A0C878;
    border-radius: 20px;
    transition: all 0.2s ease;
    color: var(--container);
    text-align: center;

    & i {
        margin-left: 10px;
        font-size: 20px;
    }
}

.botao-central:hover {

    background-color: #7e9e5d;
}


.sobre-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-flow: row wrap;
    margin: 10rem auto;
    background: var(--container);
    border-radius: 20px;
}

.sobre-container .capa {
    object-fit: cover;
    width: 100%;
    max-height: 320px;
    border-radius: 20px 20px 50% 50%;
}

.sobre-content {
    padding: 3em;
    text-align: center;
    width: 100%;

    & .titulo {
        margin-bottom: 1rem;
    }
}



.servicos {
    margin: 10rem auto;
    gap: 2rem;
    overflow: hidden;
    border-radius: 20px;

}

.servicos section {
    width: 100%;
    margin: 1rem 0;
}

.square {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 250px;
    background-color: #df7943;
    border-radius: 20px;

    &.ml-auto {
        margin-left: auto;
    }

    &.me-auto {
        margin-right: auto;
    }
}

@media (min-width:768px) {
    .servicos {
        justify-content: space-between;
    }

    .sobre-container .capa {
        border-radius: 20px 50% 50% 20px;
        width: 45%;
        max-height: none;

    }

    .sobre-content {
        text-align: start;
        max-width: 350px;
    }
}